body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

.btn {
    padding: 12px 20px;
    background: green;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
}
